#container {
  width: full;
  height: fit-content;
  color: azure;
  background-color: green;
}
.logo {
  width: 80px;
  height: 60px;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 2px solid blue;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
  /* padding: 10px;
*/
}
.nav-items > ul > a {
  padding: 5px;
  text-decoration: none !important;
}
.card {
  width: 200px;
  border: 2px solid violet;
  padding: 10px;
  margin: 10px;
  height: 350px;
  border-radius: 5px;
  /* //max-height: 00px; */
}

.card > img {
  width: 100%;
}
.restro_cards {
  display: flex;
  flex-wrap: wrap;
}
.shimmer_card {
  width: 200px;
  height: 300px;
  border-radius: 10px;
  background: lightgray;
  margin: 23px;
}
